<div class="flex flex--col gap-2 my-8">
  <p class="text-2xl font-medium text-center">{{ 'auth.verify.title' | translate }}</p>
  <p class="text-lg text-center">{{ 'auth.verify.subtitle' | translate }} <span class="font-medium">{{ email() || 'your email' }}</span></p>
</div>

<form [formGroup]="codeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="code" class="form-label">{{ 'auth.verify.codeLabel' | translate }}</label>

    <input id="code" class="form-input" [placeholder]="'auth.verify.codePlaceholder' | translate" maxlength="6" formControlName="code"/>
    @if (cf.code.touched && cf.code.errors?.['required']) {
      <small class="re-error">{{ 'auth.verify.codeRequired' | translate }}</small>
    }
    @if (cf.code.touched && (cf.code.errors?.['minlength'] || cf.code.errors?.['maxlength'])) {
      <small class="re-error">{{ 'auth.verify.codeLength' | translate }}</small>
    }
  </div>

  @if (confirmState().status === 'error') {
    <div class="re-mb-1-6">
      <small class="re-error">{{ confirmState().error }}</small>
    </div>
  }

  <div class="re-flex re-flex-column re-gap-flex-1-2">
    <button class="re-primary-btn re-w-100" [disabled]="codeForm.invalid || confirmState().status === 'loading'">
      {{ confirmState().status === 'loading' ? ('auth.verify.verifying' | translate) : ('auth.verify.continue' | translate) }}
    </button>
    <!--  TODO: Implement Resend Code -->
    <div class="re-txt-center re-mt-1-6 ">
      <button type="button" class="re-secondary-btn re-w-100">{{ 'auth.verify.resendCode' | translate }}</button>
    </div>

    <div class="re-txt-center re-mt-1-6">
      <a routerLink="/login" class="re-secondary-btn re-block re-w-100">{{ 'auth.verify.backToLogin' | translate }}</a>
    </div>
  </div>
</form>
