<div class="flex flex--col gap-2 my-8">
  <p class="text-2xl font-medium text-center">Verificar tu correo</p>
  <p class="text-lg text-center">Enviamos un codigo de 6 digito a <span class="font-medium">{{ email() || 'your email' }}</span></p>
</div>

<form [formGroup]="codeForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="code" class="form-label">Codigo de verificacion</label>

    <input id="code" class="form-input" placeholder="Enter 6-digit code" maxlength="6" formControlName="code"/>
    @if (cf.code.touched && cf.code.errors?.['required']) {
      <small class="re-error">Code is required.</small>
    }
    @if (cf.code.touched && (cf.code.errors?.['minlength'] || cf.code.errors?.['maxlength'])) {
      <small class="re-error">Code must be 6 digits.</small>
    }
  </div>

  @if (confirmState().status === 'error') {
    <div class="re-mb-1-6">
      <small class="re-error">{{ confirmState().error }}</small>
    </div>
  }

  <div class="re-flex re-flex-column re-gap-flex-1-2">
    <button class="re-primary-btn re-w-100" [disabled]="codeForm.invalid || confirmState().status === 'loading'">
      {{ confirmState().status === 'loading' ? 'Verifying…' : 'Continue' }}
    </button>
    <!--  TODO: Implement Resend Code -->
    <div class="re-txt-center re-mt-1-6 ">
      <button type="button" class="re-secondary-btn re-w-100">Resend code</button>
    </div>

    <div class="re-txt-center re-mt-1-6">
      <a routerLink="/login" class="re-secondary-btn re-block re-w-100">Back to login</a>
    </div>
  </div>
</form>
