<div class="flex flex--col gap-2 my-8">
  <p class="text-2xl font-semibold text-center">Crear cuenta</p>
  <p class="text-lg text-center">Vive una experiencia unica</p>
</div>

<form class="flex flex--col gap-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input id="name" class="form-input" placeholder="Enter Your Name" formControlName="name" />
    </div>

    <div class="form-error">
      @if (rf.name.touched && rf.name.invalid) {<small class="error-text">Name is required.</small>}
    </div>
  </div>

  <div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input id="email" class="form-input" placeholder="Enter your email" formControlName="email" />
    </div>

    <div class="form-error">
      @if (rf.email.touched && rf.email.errors?.['required']) {<small class="error-text">Email is required.</small>}
      @if (rf.email.touched && rf.email.errors?.['email']) {<small class="error-text">Please enter a valid email.</small>}
    </div>
  </div>

  <div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input id="password" type="password" class="form-input" placeholder="Enter your password" formControlName="password" />
    </div>

    <div class="form-error">
      @if (rf.password.touched && rf.password.errors?.['required']) {<small class="error-text">Password is required.</small>}
      @if (rf.password.touched && rf.password.errors?.['minlength']) {<small class="error-text">Password must be at least 6 characters.</small>}
    </div>
  </div>

  <div>
    <div class="form-group">
      <label for="conf-password" class="form-label">Confirm Password</label>
      <input id="conf-password" type="password" class="form-input" placeholder="Confirm your password" formControlName="confirmPassword" />
    </div>

    <div class="form-error">
      @if (rf.confirmPassword.touched && rf.confirmPassword.errors?.['required']) {<small class="error-text">Please confirm your password.</small>}
      @if (registerForm.touched && registerForm.errors?.['passwordMismatch']) {<small class="error-text">Passwords do not match.</small>}
    </div>
  </div>

  @if (signUpState().status === 'error') {
  <div class="re-mb-1-6">
    <small class="re-error">{{signUpState().error}}</small>
  </div>
}

  <button class="btn btn--primary" [disabled]="registerForm.invalid || signUpState().status === 'loading'">
    {{ signUpState().status === 'loading' ? 'Creating Account...' : 'Create Account' }}
  </button>

  <div class="re-txt-center re-mt-1-6">
    <a routerLink="/login">Already have an account? Log in</a>
  </div>
</form>
