<h1 class="re-h1-title re-txt-center re-mb-2-4">Create Account</h1>

<form>
  <div>
    <div class="re-flex re-flex-column">
      <label for="name" class="re-font-500 re-mb-1-6">Name</label>
      <input id="name" class="re-input re-w-100 re-mb-1-6" placeholder="Enter Your Name"/>
    </div>

    <div>
      <small>Error</small>
    </div>
  </div>

  <div>
    <div class="re-flex re-flex-column">
      <label for="email" class="re-font-500 re-mb-1-6">Email</label>
      <input id="email" class="re-input re-w-100 re-mb-1-6" placeholder="Enter your email"/>
    </div>

    <div>
      <small>Error</small>
    </div>
  </div>

  <div>
    <div class="re-flex re-flex-column">
      <label for="password" class="re-font-500 re-mb-1-6">Password</label>
      <input id="password" class="re-input re-w-100 re-mb-1-6" placeholder="Enter your password"/>
    </div>

    <div>
      <small>Error</small>
    </div>
  </div>

  <div class="re-mb-1-6">
    <div class="re-flex re-flex-column">
      <label for="conf-password" class="re-font-500 re-mb-1-6">Confirm Password</label>
      <input id="conf-password" class="re-input re-w-100 re-mb-1-6" placeholder="Confirm your password"/>
    </div>

    <div>
      <small>Error</small>
    </div>
  </div>

  <button class="re-primary-btn re-w-100">Create Account</button>
</form>
