$icomoon-font-family: "reAwsBo" !default;
$icomoon-font-path: "fonts" !default;

$re-icon-menu: "\e900";
$re-icon-person: "\e901";
$re-icon-notification: "\e902";
$re-icon-calendar: "\e903";
$re-icon-home: "\e904";
$re-icon-settings: "\e905";
$re-icon-arrow: "\e906";
$re-icon-launch: "\e907";
$re-icon-speaker: "\e908";
$re-icon-goal: "\e909";
