$icomoon-font-family: "reAwsBo" !default;
$icomoon-font-path: "fonts" !default;

$re-icon-menu: "\e900";
$re-icon-person: "\e901";
$re-icon-notification: "\e902";
$re-icon-calendar: "\e903";
$re-icon-home: "\e904";
$re-icon-settings: "\e905";
$re-icon-arrow: "\e906";
$re-icon-launch: "\e907";
$re-icon-speaker: "\e908";
$re-icon-goal: "\e909";
$re-icon-stonks: "\e90a";
$re-icon-qr: "\e90b";
$re-icon-close: "\e90c";
$re-icon-photo: "\e90d";
$re-icon-camera: "\e90e";
$re-icon-cloud-upload: "\e90f";
$re-icon-add-photo: "\e910";
$re-icon-delete: "\e911";
$re-icon-schedule: "\e912";
$re-icon-check-circle: "\e913";
$re-icon-error: "\e914";
$re-icon-refresh: "\e915";
