<span class="text-lg font-medium py-2">{{ event().title }}</span>

<div class="flex gap-2">
  <span class="text-lg material-symbols-outlined">schedule</span>
  <span class="text-base font-light">{{ getStartTime() }} - {{ getEndTime() }}</span>
</div>

<div class="flex gap-2">
  <span class="text-lg material-symbols-outlined">hourglass_top</span>
  <span class="text-base font-light">{{ event().time | duration }}</span>
</div>

<div class="flex gap-2">
  <span class="text-lg material-symbols-outlined">location_on</span>
  <span class="text-base font-light">{{ event().location }}</span>
</div>

<div class="flex gap-2">
  <span class="text-lg material-symbols-outlined">group</span>
  <span class="text-base font-light">{{ getSpeakerNames() }}</span>
</div>

@if (isPastEvent()) {
  @if (evaluation()?.sessionId) {
    <button class="btn btn--secondary btn--sm" disabled>
      Calificada
      @for ( start of [1,2,3,4,5]; track start) {
        <span [style.color]="start > evaluation()!.rating ? 'var(--gray-400)' : 'var(--primary-lilac)'">&starf;</span>
      }
    </button>
  } @else {
    <button class="btn btn--secondary btn--sm"
            (click)="openRatingPanel()">
      Calificar
    </button>
  }
}

<app-rating-panel
  [eventId]="event().eventId"
  [title]="event().title"
  [speaker]="getSpeakerNames()"
  [isVisible]="showRatingPanel()"
  (submitRating)="onRatingSubmitted($event)"
  (closePanel)="closeRatingPanel()">
</app-rating-panel>
