<div class="re-agenda re-flex re-flex-column">
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
  <div class="re-agenda__event re-flex">
    <div class="agenda__event__time">
      <span class="re-block agenda__event__time__start re-txt-bold">10:00</span>
      <span class="re-block agenda__event__time__start re-ver-small-font re-font-500">30 minutes</span>
    </div>

    <div class="re-agenda__event__details re-flex re-flex-column">
      <h3 class="agenda__event__title">Opening Keynote</h3>
      <div>
        <span class="agenda__event__speaker re-font-500">Speaker: John Doe</span>
      </div>
      <p class="agenda__event__description re-txt-500">Join us for the opening keynote where we will discuss the latest trends in
        cloud computing.</p>
    </div>
  </div>
</div>
