<h1 class="re-h1-title re-txt-center login-title">Sign In</h1>

@if (errorMessage()) {
  <div class="re-error-message re-txt-center re-txt-bold re-mb-2-4">
    {{ errorMessage() }}
  </div>
}

<form class="login-form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" class="re-input re-w-100 re-mb-1-6"
           placeholder="Email"
           id="email"
           formControlName="email">
    @if (lf['email'].invalid && lf['email'].dirty || lf['email'].touched) {
      <div class="invalid-feedback">
        @if (lf['email'].errors?.['required']) {
          <small class="re-small-font re-error-message">Email is required.</small>
        }

        @if (lf['email'].errors?.['email']) {
          <small class="re-small-font re-error-message">Invalid Email</small>
        }
      </div>
    }
  </div>

  <div>
    <input type="password"
           class="re-input re-w-100 re-mb-1-6"
           placeholder="Password"
           id="password"
           formControlName="password">
    @if (lf['email'].invalid && lf['email'].dirty || lf['email'].touched) {
      <div class="invalid-feedback">
        @if (lf['email'].errors?.['required']) {
          <small class="re-small-font re-error-message">Password is required.</small>
        }
      </div>
    }
  </div>

  <button class="re-primary-btn" type="submit" aria-label="Sign In">Sign In</button>
  <div class="re-flex re-flex-jc-center re-gap-flex-1-2">
    <button class="re-secondary-btn re-media-button" type="button" aria-label="Sign in with Google">
      <span aria-hidden="true">G</span>
    </button>
    <button class="re-secondary-btn re-media-button" type="button" aria-label="Sign in with Facebook">
      <span aria-hidden="true">F</span>
    </button>
  </div>
</form>

<small class="create-account-text">Don't have an account? <a routerLink="/register">Sign Up</a></small>
