.re-txt-center {
  text-align: center;
}

.re-w-100 {
  width: 100%;
}

.re-error-message {
  color: var(--error-text-color);
}

.re-txt-bold {
  font-weight: bold;
}

.re-mb-1-6 {
  margin-bottom: var(--mb-1-6);
}

.re-mb-2-4 {
  margin-bottom: var(--mb-2-4);
}


.re-small-font {
  font-size: var(--small-font-size);
}



