<button class="re-btn flex flex--col" routerLink="./notifications">
  <span class="text-2xl re-icon-footer re-icon-home"></span>
  <span class="text-sm">Home</span>
</button>

<button class="re-btn flex flex--col" routerLink="./agenda">
  <span class="text-2xl re-icon-footer re-icon-calendar"></span>
  <span class="text-sm">Agenda</span>
</button>

<button class="re-btn re-flex re-flex-column re-flex-jc-center re-qr-container" routerLink="./qr">
  <span class="text-2xl re-icon-footer re-icon-qr"></span>
</button>

<button class="re-btn flex flex--col" routerLink="./images">
  <span class="text-2xl re-icon-footer re-icon-photo"></span>
  <span class="text-sm">Fotos</span>
</button>

<button class="re-btn flex flex--col" routerLink="./face-search">
  <span class="text-2xl">🔍</span>
  <span class="text-sm">Buscar</span>
</button>

<button class="re-btn flex flex--col" routerLink="./points">
  <span class="text-2xl re-icon-footer re-icon-goal"></span>
  <span class="text-sm">Points</span>
</button>

<button class="re-btn flex flex--col" routerLink="./account">
  <span class="text-2xl re-icon-footer re-icon-person"></span>
  <span class="text-sm">Account</span>
</button>
