<button style="" class="re-btn re-flex re-flex-column re-flex-jc-center">
  <span class="re-icon-home re-big-font re-icon-footer"></span>
  <span class="re-normal-font re-font-500 re-footer-text">Home</span>
</button>

<button style="" class="re-btn re-flex re-flex-column re-flex-jc-center" routerLink="./agenda">
  <span class="re-icon-calendar re-big-font re-icon-footer"></span>
  <span class="re-normal-font re-font-500 re-footer-text">Agenda</span>
</button>

<button class="re-btn re-flex re-flex-column re-flex-jc-center re-qr-container" routerLink="./qr">
  <span class="re-icon-qr re-big-font re-icon-footer"></span>
</button>

<button style="" class="re-btn re-flex re-flex-column re-flex-jc-center" routerLink="./account">
  <span class="re-icon-person re-big-font re-icon-footer"></span>
  <span class="re-normal-font re-font-500 re-footer-text">Account</span>
</button>

<button style="" class="re-btn re-flex re-flex-column re-flex-jc-center" routerLink="./points">
  <span class="re-icon-goal re-big-font re-icon-footer"></span>
  <span class="re-normal-font re-font-500 re-footer-text">Points</span>
</button>
