<button class="re-btn flex flex--col items-center" aria-label="Home" routerLink="./home">
  <span class="text-2xl re-icon-footer re-icon-home"></span>
  <span class="text-sm">{{ 'footer.home' | translate }}</span>
</button>

<!-- <button class="re-btn flex flex--col items-center" routerLink="./agenda" aria-label="Agenda">
  <span class="text-2xl re-icon-footer re-icon-calendar"></span>
  <span class="text-sm">{{ 'footer.agenda' | translate }}</span>
</button> -->

<button class="re-btn flex flex--col items-center" routerLink="./sessions" aria-label="Sessions">
  <span class="material-symbols-outlined">event</span>
  <span class="text-sm">{{ 'footer.sessions' | translate }}</span>
</button>

<button class="re-btn flex items-center justify-center re-points" routerLink="./points" aria-label="Points">
  <span class="material-symbols-outlined">rewarded_ads</span>
</button>

<button class="re-btn flex flex--col items-center" routerLink="./gallery" disabled aria-label="Gallery">
  <span class="material-symbols-outlined">photo</span>
  <span class="text-sm">{{ 'footer.gallery' | translate }}</span>
</button>

<button class="re-btn flex flex--col items-center" routerLink="./account" aria-label="Account">
  <span class="material-symbols-outlined">manage_accounts</span>
  <span class="text-sm">{{ 'footer.account' | translate }}</span>
</button>
