:host {
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
}

.re-agenda-routes {
  padding: 0.4rem;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);


  .re-agenda-routes__active {
    background-color: var(--first-color);
  }

  button {
    padding: 0.3rem;
    flex: 1;
    border-radius: var(--border-radius-lg);
  }
}
