:host {
  display: flex;
  flex-direction: column;
  padding: var(--space-4);

  .btn {
    background-color: transparent;

    &.btn-active {
      background-color: var(--primary-lilac);
      color: var(--primary-white);
      border-color: var(--primary-lilac);
    }
  }
}
