:root {
  /* Colors */
  --first-color: #0288D1;
  --first-color-alt: #E1F5FE;
  --text-color: #263238;
  --text-color-white: #fff;
  --text-color-light: #607D8B;
  --error-text-color: #D84315;
  --error-alert: rgb(220, 49, 71);
  --body-color: #F9FBFC;

  --body-font: 'Work Sans', sans-serif;

  /*Font-size*/
  --very-small-font-size: 1.2rem;
  --small-font-size: 1.4rem;
  --normal-font-size: 1.6rem;
  --big-font-size: 2.3rem;

  --h1-font-size: 1.8rem;

  /* Padding */
  --min-padding: 1.4rem;
  --general-padding: 1.6rem;

  --general-border-radius: 1.2rem;


  /*SPACE*/
  --sp-0-8: 0.8rem;
  --sp-1-2: 1.2rem;
  --sp-1-6: 1.6rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-6: .5rem;
  --mb-1-2: 1.2rem;
  --mb-1-6: 1.6rem;
  --mb-2: 2rem;
  --mb-2-4: 2.4rem;

  /*BOX SHADOW*/
  --general-box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.1);
}
