:root {
  /* Colors */
  --first-color: #FF9900;
  --first-color-alt: #F5F0E5;
  --text-color: #1C170D;
  --text-color-light: #A18245;
  --error-text-color: #D32F2F;
  --body-color: #FCFAF7;

  --body-font: 'Work Sans', sans-serif;

  /*Font-size*/
  --very-small-font-size: 1.2rem;
  --small-font-size: 1.4rem;
  --normal-font-size: 1.6rem;
  --big-font-size: 2.3rem;

  --h1-font-size: 1.8rem;

  /* Padding */
  --min-padding: 1.4rem;
  --general-padding: 1.6rem;

  --general-border-radius: 1.2rem;


  /*SPACE*/
  --sp-1-2: 1.2rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-6: .5rem;
  --mb-1-2: 1.2rem;
  --mb-1-6: 1.6rem;
  --mb-2: 2rem;
  --mb-2-4: 2.4rem;

  /*BOX SHADOW*/
  --general-box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.1);
}
