@if (isMenuOpen()) {
  <div class="re-menu-overlay" (click)="closeMenu()" (touchstart)="closeMenu()" aria-hidden="true"></div>
}

<aside id="app-side-menu"
       class="re-side-menu"
       [class.re-side-menu--open]="isMenuOpen()"
       role="region"
       [attr.aria-label]="'menu.mainMenu' | translate">
  <div class="re-side-menu__header">
    <span class="re-txt-bold">{{ 'menu.title' | translate }}</span>

    <button class="re-btn" (click)="closeMenu()" [attr.aria-label]="'menu.close' | translate">
      <span class="re-icon-close re-big-font"></span>
    </button>
  </div>
  <nav class="re-side-menu__nav">
    <ul>
      @for (item of navItems; track item.link) {
        <li>
          <a class="re-side-menu__link" routerLink="{{ item.link }}" (click)="closeMenu()"
             [allowedRoles]="item.roleAllowed"
             navItemVisibleByRole>
<!--            <span class="{{ item.icon }} re-inline-block"></span>-->
            <span class="re-side-menu__text re-big-font re-font-500">{{ item.label | translate }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
  <div class="p-4">
    <small class="text-xs">
      {{ versionInfo().name }} v{{ versionInfo().version }}
      <span class="build-date">• Build: {{ versionInfo().buildDate }}</span>
    </small>
  </div>
</aside>
