<div class="re-card re-card-points re-flex re-flex-column">
  <span class="re-card__header re-flex re-gap-flex-0-8 re-font-500 re-flex re-align-items-center re-small-font">
    <span class="re-icon-stonks"></span>
    Points Summary
  </span>

  <div class="re-card__body re-flex re-flex-column re-txt-center">
    <span class="re-card__value re-txt-bold">{{ points() }}</span>
    <span class="re-normal-font re-font-500">Total Points</span>
  </div>
</div>

<div class="re-card re-flex re-flex-column">
  <span class="re-font-500 re-small-font">Points History</span>

  <div class="re-flex re-gap-flex-1-2 re-flex-column">
    @for (item of itemPoints(); track item.code) {
      <app-points-card [pointsDetail]="item"></app-points-card>
    }
  </div>
</div>
