<div class="flex flex--col items-center gap-1 bg-primary rounded-md w-full p-4">
  <span class="total-points">{{ points() }}</span>
  <span class="text-base font-normal">Total Puntos</span>
</div>

@if (isLoading()) {
  <div class="flex flex--col gap-2 items-center justify-center p-2">
    <div class="spinner spinner--md"></div>
    <span>Cargando puntos...</span>
  </div>
} @else {
  <div class="flex flex--col gap-4 bg-primary rounded w-full p-4">
    <span class="text-base font-medium">Historial de puntos</span>

    <div class="flex flex--col gap-4">
      @for (item of itemPoints(); track item.code) {
        <app-points-card [pointsDetail]="item"></app-points-card>
      } @empty {
        <p>No hay puntos</p>
      }
    </div>
  </div>
}
