@use "./app/styles/main";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
