@if (isLoading()) {
  <div class="flex flex--col gap-2 items-center justify-center p-2">
    <div class="spinner spinner--md"></div>
    <span>Cargando notificaciones...</span>
  </div>
} @else {
  <!-- Lista de notificaciones agrupadas por fecha -->
  <div class="flex flex--col gap-2 bg-primary p-4">
    @for (group of groupedNotifications(); track group.date) {
      <span class="text-base">{{ group.notifications[0].createdAt | relativeDate }}</span>

      @for (notification of group.notifications; track notification.notificationId) {
        <app-notification-card
          [notification]="notification">
        </app-notification-card>
      }
    } @empty {
      <div class="no-notifications">
        <p>No hay notificaciones</p>
      </div>
    }
  </div>
}
