<div class="flex flex--col gap-2 p-2">
  <p class="text-xl text-center">{{ 'points.claim.title' | translate }}</p>

  <div class="form-group">
    <input type="text"
           class="form-input"
           id="code"
           [placeholder]="'points.claim.codePlaceholder' | translate"
           (keydown.enter)="submit(code.value)"
           #code>
    <button class="btn"
            (click)="goToQRScanner()"
            type="button"
            [title]="'points.claim.scanQR' | translate">
      <span class="material-symbols-outlined">qr_code_scanner</span>
    </button>
  </div>

  <button class="btn btn--primary"
          (click)="submit(code.value)">
    {{ 'points.claim.redeem' | translate }}
  </button>
</div>

@if (showConfetti()) {
  <app-confetti-modal
          [isVisible]="showConfetti()"
          [config]="confettiConfig()"
          (closeModal)="onConfettiClose()">
  </app-confetti-modal>
}
