:host {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2);
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  padding-top: var(--space-2);
  width: 40px;

  .notification-icon-no-read {
    opacity: 1;
  }

  span {
    font-size: var(--text-3xl);
    color: var(--first-color);
  }
}

.notification-body {
  display: flex;
  flex-direction: column;
  flex: 1;

  .notification-title {
    font-size: var(--text-sm);
  }

  .notification-description {
    font-size: var(--text-sm);
  }

  .notification-time {
    font-size: var(--text-xs);
  }
}

.notification-button {
  .btn {
    background: transparent;
    padding: 0;

    span {
      font-size: var(--text-xl);
    }
  }
}
