<div class="re-type-icon">
<!--  <span [class]="notification().type | typeNotificationClass"></span>-->
</div>

<div class="re-notification-desc re-flex re-flex-column" (click)="onMarkAsRead()">
  <p class="re-title-notification re-font-500">{{ notification().title }}</p>
  <p class="re-dsc-notification">{{ notification().description }}</p>
  <small class="re-time re-font-500">{{ notification().createdAt | date: 'short' }}</small>
  
  <!-- Mostrar link si existe -->
  @if (notification().link) {
    <div class="re-notification-link">
      <a [href]="notification().link"
         [target]="notification().link?.startsWith('http') ? '_blank' : '_self'"
         (click)="$event.stopPropagation()"
         class="re-link">
        {{ notification().link?.startsWith('http') ? 'Ver enlace' : 'Ver más' }}
      </a>
    </div>
  }
</div>
