:host {
  display: flex;
  padding: var(--space-4);
  gap: 1.4rem;
  border-radius: var(--border-radius-lg);
  border-left-color: var(--first-color);
  border-left-style: solid;
  box-shadow: var(--shadow-lg);
}

.re-type-icon {
  width: 15%;
  display: flex;
  align-items: center;

  span {
    background-color: var(--first-color-alt);
    padding: 0.7rem;
    font-size: var(--text-2xl);
    color: var(--first-color);
    border-radius: var(--border-radius-lg);
  }
}

.re-notification-desc {
  gap: 1rem;

  .re-title-notification {
    font-size: var(--text-sm);
  }

  .re-dsc-notification {
    font-size: var(--text-sm);
  }

  .re-time {
    font-size: var(--text-xs);
  }
}
