<div class="re-profile-pic__container re-flex re-flex-column re-gap-flex-1-2 re-general-padding re-align-items-center">
  <div class="re-profile-pic__frame">
    <img src="images/pic-default.webp" alt="default pic">
  </div>
  <button class="re-secondary-btn re-small-font re-w-80 re-font-500">Camera</button>
  <button class="re-secondary-btn re-small-font re-w-80 re-font-500">Gallery</button>
</div>

<form class="re-profile__body re-general-padding">
  <div class="re-profile__body-header re-flex re-align-items-center re-flex-jc-sp">
    <span class="re-small-font re-font-500">Profile Information</span>

    <button class="re-secondary-btn re-font-500 re-small-font">Edit</button>
  </div>

  <div class="re-flex re-flex-column re-gap-flex-0-8">
    <label for="email">Email</label>
    <input type="text" id="email" class="re-input">
  </div>

  <div class="re-flex re-flex-column re-gap-flex-0-8">
    <label for="username">Username</label>
    <input type="text" id="username" class="re-input">
  </div>
</form>

<div class="re-profile__footer re-general-padding re-flex re-gap-flex-1-2 re-flex-column">
  <p class="re-font-500 re-small-font re-font-500">Account Settings</p>
  <button class="re-secondary-btn re-font-500">Change Password</button>
  <button class="re-error-btn re-font-500">Logout</button>
</div>
